@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma;
}

/* Common */

:root {
    --blue: #0084FD;
    --azure: #B5DDFF;
    --white:white;
    --purple: #9792E4;
    --black: black;
    --darkgrey: #333333;
    --lightgrey: lightgrey;
    --grey: rgb(101, 101, 101);
  }

.menu ul{
      list-style-type: none;
    
}

.cardtitle{    
    font-size: 25px;
    font-weight: bold;
    color: var(--blue);
    text-align:center;
    padding-bottom: 10%;
}

.cardtitle2{
    color: white;
    font-size: 200%;
    font-weight: bold;
    text-align:center;
    padding-bottom: 10%;
}

  /******************** 
        Mobile 
  **********************/

/* Section1 */
.section1{
    padding-bottom: 30px;
}

header{
    width:100%;
    height:70px;
    position:fixed;
    background-color: var(--blue);
}

.container{
    width:100%;
    margin: 0 auto;
    padding: 0 30px;
}
  
.menu ul{
    display: none;
}

.logo{
    text-align: left;
    height: 30px;
    padding-top: 20px;
}

.hamburger{ 
    display:block;
    color: var(--white);
    font-size: 30px;
    float: right; 
    margin-top: -12px;

}



.boxcards{
    width: 100%;
    padding-top: 100px;
}

.card{
    padding-top: 40px;
    width:100%;
    border-radius: 25px;
    background-color: var(--azure);
    margin-top: 30px;
    
}

.cardwide{
    padding-top: 40px;
    width:100%;
    border-radius: 25px;
    background-color: var(--azure);
    margin-top: 30px;
}

.logocard{
    color: var(--blue);
    font-size: 80px;
    text-align: center;
    padding-bottom: 20px;
}

.textcard1{
    color: var(--grey);
    font-weight: 700;
    font-size: 18.5px;
    padding-left: 32px;
    padding-right: 32px;
    line-height: 33px;
    padding-bottom: 50px;
}

.textcard2{
   text-align: center;
}

.logobottone{
    color: var(--white);
    font-size: 20px;    
}


.button{
    color: var(--white);
    background-color: var(--blue);
    border-radius: 30px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    color: var(white);
    margin-bottom: 10px;

}

.imgcard{
    padding-top: 10px;
    width:100%;
    text-align: center;

}

.immaginecard{
    width: 100%;
    padding-top: 15px;
    margin: -4px;
}


/* Section 2 */

.section2{
    background-color: var(--purple);
    padding: 20px;
}


.card2b{
    background-color:white;
    border-radius: 25px;
    
}

.card2a1{
    padding-bottom: 30px;
}

.card2a2{
    padding-bottom: 30px;
    text-align: center;
    
}

.textcards2a{
    color: white;
    font-weight: 400;
    font-size: 100%;
    padding-left: 32px;
    padding-right: 32px;
    line-height: 33px;
    padding-bottom: 30px;
   
}

.textcards2b{
    color: black;
    line-height: 1.3;
    font-style: italic;

}

.immaginecard2{
    width: 80%;
    padding-top: 15px;
    margin: -4px;
}

.cardtitle2b{
    color: black;
    font-size: 150%;
    font-weight: bold;
    text-align:center;
    padding-bottom: 10%;
    
}

.circlearrow{
    width:30px;
    height: 30px;
    font-size: 100%;
    border-radius: 50%;
    background-color: var(--purple);
    padding-top: 4px;
    color: black;
    margin-top: 20px;
    display: inline-block;
}

/* Section3 */
.text3{
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 130%;
    color: black;
    font-family: Tahoma;
}

.title3{
    font-size:200%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    color: var(--purple);
    font-family: Tahoma;
    font-weight: bold;
    padding-top: 10%;
}

.card3{
    
    background-color: var(--purple);
    padding: 30px;
    color: white;
    width:100%;
    border-radius: 25px;
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.7;
    font-size: 130%;
    text-align: center;
}

.card3a{
    display:flex;
    justify-content: center;
    padding-top: 25px;
    
}

.imgtestimonial{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100%;
    text-align: center;
}

.quotations{
    font-size: 150%;

}

div.cardtitle3{
    padding-top: 20px;
    font-size: 100%;
    font-weight: 900;
}

  /******************** 
        Tablet
  **********************/

    @media screen and (min-width: 481px) and (max-width: 768px){
        .menu ul{
            display: none;
        }

        .hamburger{
            display: flex;
            flex-direction: row-reverse;
        }

        .container{
            width:100%;
            margin: 0 5px;
            padding: 0 20px;
        }

        .boxcards{
            width: 100%;
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        .cardwide{
             width: 60%;
             margin-left: 1%;
             margin-right: 1%;
        }

        .cardwidep1{
            width:100%;        
        }

        .cardwidep2{
            width:50%;
        }

        .button{
            width:50%;
            font-size: 80%;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 5px;
            padding-bottom: 9px;
            margin-left: 10%;
           
        }

        .card{
            width: 30%;
            margin-left: 1%;
            margin-right: 1%;
           
        }

        .cardtitle{    
            font-size: 110%;
            padding-bottom: 20px;   
        }

        .textcard1{
            font-size:75%;
            padding-bottom: 20px;
            line-height: 1.7;
        }

        .logocard{
            color: var(--blue);
            font-size: 300%;
        }  
        
        .textcards2a{
            color: white;
            font-weight: 400;
            font-size: 100%;
            padding-left: 32px;
            padding-right: 32px;
            line-height: 33px;
            padding-bottom: 30px;
        }
     
        
        /* Section3 */


        .text3{
            padding-top: 10%;
            padding-bottom: 10%;
            text-align: center;
            padding-left: 10%;
            padding-right: 10%;
            font-size: 130%;
            color: black;
            font-family: Tahoma;
        }

        .title3{
            font-size:120%;
            text-align: center;
            padding-left: 10%;
            padding-right: 10%;
            color: var(--purple);
            font-family: Tahoma;
            font-weight: bold;
        }

        .text3{
            padding-top: 10%;
            padding-bottom: 10%;
            text-align: center;
            padding-left: 10%;
            padding-right: 10%;
            font-size: 130%;
            color: black;
            font-family: Tahoma;
        }
        
        .title3{
            font-size:200%;
            text-align: center;
            padding-left: 10%;
            padding-right: 10%;
            color: var(--purple);
            font-family: Tahoma;
            font-weight: bold;
            padding-top: 10%;
        }
        
        .card3{
            
            background-color: var(--purple);
            padding: 30px;
            color: white;
            width:100%;
            border-radius: 25px;
            margin-top: 30px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1.7;
            font-size: 130%;
            text-align: center;
        }
        
        .card3a{
            display:flex;
            justify-content: center;
            padding-top: 25px;
            
        }
        
        .imgtestimonial{
            height: 200px;
            width: 200px;
            object-fit: cover;
            border-radius: 100%;
            text-align: center;
        }
        
        .quotations{
            font-size: 150%;
        
        }
        
        div.cardtitle3{
            padding-top: 20px;
            font-size: 100%;
            font-weight: 900;
        }

        
    }    



  /******************** 
        Desktop
  **********************/

    @media screen and (min-width: 769px ) and (max-width: 992px){

        .container{
            width:80%;   
        }


        .hamburger{
            display: none;
        }

        .menu ul{
            display: flex;
            flex-direction: row-reverse;
        }

        .menu ul li{
            margin-right: 10px;
            margin-left: 10px;
            font-size: 20px;
            color: var(--lightgrey);
            font-size: 16px;
        }

        
        .boxcards{
            width: 100%;
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        .cardwide{
             width: 60%;
             margin-left: 1%;
             margin-right: 1%;
             display:flex;
             flex-direction: row;
        }

        .cardwidep1{
            width:50%;        
        }

        .cardwidep2{
            width:50%;
        }


        .button{
            width:40%;
            font-size: 100%;
        }

        .card{
            width: 30%;
            margin-left: 1%;
            margin-right: 1%;  
           
        }

        .cardtitle{    
            font-size: 90%;   
            padding-left: 10px;
        }

    

        .logocard{
            color: var(--blue);
            font-size: 300%;
        }    
        
        .button{
            width:50%;
            font-size: 80%;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 5px;
            padding-bottom: 9px;
            margin-left: 10%;
           
        }

        /* Section2 Desktop*/

        .boxcards2{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card2{
            width:47%;
        }

        .card2b{
            width:35%;
            
        }
    
        .textcard1{
            font-size:75%;
            padding-bottom: 20px;
            line-height: 1.7;
        }

        .textcards2a{
            color: white;
            font-weight: 400;
            font-size: 80%;
            padding-left: 32px;
            padding-right: 32px;
            line-height: 33px;
            padding-bottom: 30px;
        }

       .immaginecard2{
           width:60%;

       }

       .card2b{
           width:47%;
           margin-left: 6%;
           margin-top: 32%;
           margin-bottom:10%;
       }

       .cardtitle2b{
           font-size: 100%;
       }

       .textcards2b{
           color: black;
           line-height: 1.3;
           font-size: 80%;
           font-style: italic;
           padding-left: 10px;
           padding-right: 10px;
           text-align: center;

       }

        /* Section3 */
        .text3{
            padding-top: 2%;
            padding-bottom: 2%;
            text-align: center;
        
            font-size: 85%;
            
        }

        .title3{
            font-size:110%;
            text-align: center;
            padding-left: 10%;
            padding-right: 10%;
            color: var(--purple);
            font-family: Tahoma;
            font-weight: bold;
        }
        

    }
  
  /**********Large Desktop***********
  ********************************* */
    @media screen and (min-width: 993px) {

       
        .container{
            width:80%;   
        }


        .hamburger{
            display: none;
        }

        .menu ul{
            display: flex;
            flex-direction: row-reverse;
        }

        .menu ul li{
            margin-right: 10px;
            margin-left: 10px;
            font-size: 20px;
            color: var(--lightgrey);
            font-size: 16px;
        }

        
        .boxcards{
            width: 100%;
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        .cardwide{
             width: 60%;
             margin-left: 1%;
             margin-right: 1%;
             display:flex;
             flex-direction: row;
        }

        .cardwidep1{
            width:50%;        
        }

        .cardwidep2{
            width:50%;
        }


        .button{
            width:40%;
            font-size: 100%;
        }

        .card{
            width: 30%;
            margin-left: 1%;
            margin-right: 1%;  
           
        }

        .cardtitle{    
            font-size: 90%;   
            padding-left: 10px;
        }

    

        .logocard{
            color: var(--blue);
            font-size: 300%;
        }    
        
        .button{
            width:50%;
            font-size: 80%;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 5px;
            padding-bottom: 9px;
            margin-left: 10%;
           
        }

        /* Section2 Large Desktp */

        .boxcards2{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card2{
            width:47%;
        }

        .card2b{
            width:35%;
            
        }
    
        .textcard1{
            font-size:75%;
            padding-bottom: 20px;
            line-height: 1.7;
        }

        .textcards2a{
            color: white;
            font-weight: 400;
            font-size: 80%;
            padding-left: 32px;
            padding-right: 32px;
            line-height: 33px;
            padding-bottom: 30px;
        }

       .immaginecard2{
           width:60%;

       }

       .card2b{
           width:47%;
           margin-left: 6%;
           margin-top: 32%;
           margin-bottom:10%;
       }

       .cardtitle2b{
           font-size: 100%;
       }

       .textcards2b{
           color: black;
           line-height: 1.3;
           font-size: 80%;
           font-style: italic;
           padding-left: 10px;
           padding-right: 10px;
           text-align: center;

       }

            /* Section3 */
        .text3{
            padding-top: 2%;
            padding-bottom: 2%;
            text-align: center;
        
            font-size: 85%;
            
        }

        .title3{
            font-size:110%;
            text-align: center;
            padding-left: 10%;
            padding-right: 10%;
            color: var(--purple);
            font-family: Tahoma;
            font-weight: bold;
        }
    

    }